.u-section-1 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 818px;
}

.u-section-1 .u-video-1 {
  width: 832px;
  height: 468px;
  margin: 29px auto 0 16px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: -413px 45px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 16px 84px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 259px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 135px;
  margin: 84px -16px 6px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-1 .u-video-1 {
    width: 581px;
    height: 327px;
    margin-top: 43px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -303px;
    margin-right: 91px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 43px;
    margin-right: 130px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 3rem;
    margin: 134px 81px 50px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-1 .u-video-1 {
    width: 607px;
    height: 343px;
    margin-top: 41px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 41px;
    margin-right: -116px;
    margin-left: 99px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
    margin-right: auto;
    padding: 61px 113px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin: 68px 151px 42px 173px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-1 .u-video-1 {
    width: 419px;
    height: 236px;
    margin-top: 49px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 61px;
    margin-right: -50px;
    margin-left: 50px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-2 {
    margin: 61px 41px 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-1 .u-video-1 {
    width: 298px;
    height: 167px;
    margin-top: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 29px;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 50px;
    margin-left: 21px;
    margin-right: 21px;
  }
}